<div class = 'panel panel-primary'>
  <div class = 'panel-heading'>
    {{pageTitle}}
  </div>
  <div class = 'panel-body'>
      <div class='row'>
          <div class='col-md-2'>Filter by:</div>
          <div class='col-md-4'>
              <input type='text' [(ngModel)]='listFilter' />
          </div>
      </div>
      <div class = 'table-responsive'>
        <table class = 'table' *ngIf = 'orders && orders.length'>
          <thead>
            <tr>
              <th> Order </th>
              <th> Name </th>
              <th> Price </th>
              <th> Tracker ID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = 'let order of filteredOrders'>
              <td>
                <img [src] = 'order.imageUrl'
                [style.width.px] = 'imageWidth'
                [style.margin.px] = 'imageMargin'
                >
              </td>
              <td>{{order.orderName}}</td>
              <td>${{order.price}}</td>
              <td><a [routerLink] = "['/ordertracking',order.trackerId]">{{order.trackerId}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>