<div class='panel panel-primary' >
    <div class='panel-heading'>
       Product List
    </div>
    <table class = 'table' > 
        <thead class="thead-dark">
          <tr>
              <th> Name </th>
              <th> Price </th>
              <th> Image </th> 
          </tr>
          <tr *ngFor = 'let item of data'>
              <td><b>{{item.name}}</b></td>
              <td>${{item.price}}</td>
              <td>
                  <img class='center-block img-responsive' 
                  [style.width.px]='150' 
                  [style.margin.px]='2' 
                  [src]='item.imageUrl'>
              </td>
          </tr>
        </thead>
    </table>
  </div>