<div class='panel panel-primary' *ngIf='orderItems && orderItems.length'>
    <div class='panel-heading'>
        Order Detail
    </div>

    <div class='panel-body'>
        <div class='row' *ngFor = 'let item of orderItems'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>{{item.name}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Price:</div>
                    <div class='col-md-6'>${{item.price}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Quantity:</div>
                    <div class='col-md-6'>{{item.quantity}}</div>
                </div>
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='200' 
                     [style.margin.px]='2' 
                     [src]='item.imageUrl'>
            </div>
            <div>&nbsp;</div>
        </div>
       
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>