<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class='panel panel-primary' *ngIf='orderItems && orderItems.length'>
                <div class='panel-heading'>
                    Order Detail
                </div>
            
                <div class='panel-body'>
                    <div class='row' *ngFor = 'let item of orderItems'>
                        <div class='col-md-6'>
                            <div class='row'>
                                <div class='col-md-3'>Name:</div>
                                <div class='col-md-6'>{{item.name}}</div>
                            </div>
                            <div class='row'>
                                <div class='col-md-3'>Price:</div>
                                <div class='col-md-6'>${{item.price}}</div>
                            </div>
                            <div class='row'>
                                <div class='col-md-3'>Quantity:</div>
                                <div class='col-md-6'>{{item.quantity}}</div>
                            </div>
                        </div>
            
                        <div class='col-md-6'>
                            <img class='center-block img-responsive' 
                                 [style.width.px]='200' 
                                 [style.margin.px]='2' 
                                 [src]='item.imageUrl'>
                        </div>
                        <div>&nbsp;</div>
                    </div>
                </div>

                <div class='panel-footer'>
                    <a class='btn btn-default' (click)='onBack()' style='width:80px'>
                        <i class='glyphicon glyphicon-chevron-left'></i> Back
                    </a>
                </div>
                <div class="row">     
                    <div class='col-md-10' >
                        Shipped <input id="shipped" type='checkbox' [checked] ='shipped' (change)="shipped = !shipped" />
                        Carrier Facility <input id="carrier_facility" type='checkbox'  [checked] ='carrier_facility' (change)="carrier_facility = !carrier_facility" />
                        Out for delivery <input id="out_for_delivery" type='checkbox' [checked] ='out_for_delivery' (change)="out_for_delivery = !out_for_delivery" />
                        Delivered <input id="delivered" type='checkbox'  [checked] ='delivered' (change)="delivered = !delivered" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
   <!-- Shipped-->
   <div *ngIf="shipped" class="container" [@listAnimation]="packageLocation.length">
    <h1>Shipped</h1>
        <div class="container">
            <table class="table table-striped">
                <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Description</th>
                </tr>
                <tr  id="list" *ngFor="let x of packageLocation">
                    <td >{{packageLocation[0].locationtracker[5].date}}</td>
                    <td >{{packageLocation[0].locationtracker[5].location}}</td>
                    <td >{{packageLocation[0].locationtracker[5].description}}</td>
                </tr>
                
            </table>
            </div>
    </div>
    <!-- Shipped-->
    <!-- Carrier Facility-->
     <div *ngIf="carrier_facility" class="container" [@listAnimation]="packageLocation.length" >
        <h1>Carrier Facility</h1>
        <div class="container">
            <table class="table table-striped">
                <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Description</th>
                </tr>
                <tr  id="list" *ngFor="let x of packageLocation">
                    <td >{{packageLocation[0].locationtracker[4].date}}</td>
                    <td >{{packageLocation[0].locationtracker[4].location}}</td>
                    <td >{{packageLocation[0].locationtracker[4].description}}</td>
                </tr>
                <tr id="list" *ngFor="let x of packageLocation">
                    <td >{{packageLocation[0].locationtracker[3].date}}</td>
                    <td >{{packageLocation[0].locationtracker[3].location}}</td>
                    <td >{{packageLocation[0].locationtracker[3].description}}</td>
                </tr>
                <tr  id="list" *ngFor="let x of packageLocation">
                    <td >{{packageLocation[0].locationtracker[2].date}}</td>
                    <td >{{packageLocation[0].locationtracker[2].location}}</td>
                    <td >{{packageLocation[0].locationtracker[2].description}}</td>
                </tr>
                
            </table>
            </div>
    </div>
    <!-- Carrier Facility End-->
    <!-- Out for delivery-->
    <div *ngIf="out_for_delivery" class="container" [@listAnimation]="packageLocation.length" >
            <h1>Out for Delievery</h1>
            <div class="container">
                <table class="table table-striped">
                    <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Description</th>
                    </tr>
                    <tr  id="list" *ngFor="let x of packageLocation">
                        <td >{{packageLocation[0].locationtracker[1].date}}</td>
                        <td >{{packageLocation[0].locationtracker[1].location}}</td>
                        <td >{{packageLocation[0].locationtracker[1].description}}</td>
                    </tr>
                </table>
                </div>
    </div>
    <!-- Out for Delivery End-->
    <!-- Delieverd-->
    <div *ngIf="delivered" class="container" [@listAnimation]="packageLocation.length">
                    <h1>Delivered</h1>
                        <div class="container">
                            <table class="table table-striped">
                                <tr>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Description</th>
                                </tr>
                                
                                <tr  id="list" *ngFor="let x of packageLocation">
                                    <td >{{packageLocation[0].locationtracker[0].date}}</td>
                                    <td >{{packageLocation[0].locationtracker[0].location}}</td>
                                    <td >{{packageLocation[0].locationtracker[0].description}}</td>
                                </tr>
                                
                            </table>
                            </div>
    </div>
    <!-- End of delivery-->
    </div>
    </div>
</div>
